.navbar-component {
  height: 72px;
  width: 1440px;
}

.navbar-component .overlap-group {
  height: 72px;
  position: relative;
}

.navbar-component .navigation-header-default {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 1440px !important;
}

.navbar-component .navigation-header-instance {
  left: 1330px !important;
  position: absolute !important;
  top: 16px !important;
}

.navbar-component .navigation-header-default-instance {
  left: 1201px !important;
  position: absolute !important;
  top: 16px !important;
}

.navbar-component .toggle-instance {
  left: 1129px !important;
  position: absolute !important;
  top: 20px !important;
}


